/* #trackinvoices2\:\:trackInvoiceList--fe\:\:table\:\:trackInvoice\:\:LineItem-innerTable-rows-row0, */
.bluee{
    background: aliceblue !important;
}
.redd{
    background: rgb(255, 171, 171)!important;
}
.greenn{
    background: rgb(185, 234, 185)!important;
}
.orangee{
    background: rgb(255, 218, 148)!important;
}
.sapMBtnInner.sapMBtnText{
    border:transparent
}